* {
    border: solid black 1px;
  }
  .title {
    margin-top: 50px;
    /* h1 요소의 하단 마진을 조정합니다. */
  }
  
  .calendar-container {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 0 auto; /* 수평 중앙 정렬 */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
    
  .calendar-controls select {
    padding: 8px;
    font-size: 14px;
  }
  
  .calendar-table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto; /* 수평 중앙 정렬 */
  }
  
  .calendar-table th,
  .calendar-table td {
    border: 2px solid #8f8d8d;
    padding: 20px; /* 각 날짜 셀의 내부 여백을 조절합니다. */
    text-align: center;
    height: 100px; /* 각 날짜 셀의 높이를 조절합니다. */
    font-size: 25px;
  }
  
  .calendar-table th {
    background-color: #697fe9;
  }

  .calendar-table th:nth-child(1),
  .calendar-table td:nth-child(1),
  .calendar-table th:nth-child(7),
  .calendar-table td:nth-child(7){
    background-color: rgb(236, 125, 125);
  }




  

.Calendermodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    width: 70%;
    /* 모달 너비 조정 */
    max-width: 400px;
    /* 모달 최대 너비 설정 */
    border-radius: 10px;
    overflow-y: auto;
  }
  
  .Calendermodal h2 {
    background-color: rgb(148, 178, 242);
    color: white;
    /* 제목 글자색 설정 */
    padding: 10px;
    /* 제목 내부 간격 설정 */
    border-radius: 10px;
    /* 제목 테두리 모양 설정 */
    text-align: center;
  }

  
  .checkbox {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    justify-content: space-around;
    font-size: 20px;
  }
  
  .checkboxes {
    margin: 0 auto;
  }


  
.button-container {
    display: flex;
    justify-content: space-around; /* 버튼 간의 간격을 최대한 넓게 설정 */
    margin-top: 20px; /* 버튼과 다른 콘텐츠 간의 간격 설정 */
    margin-bottom: 15px;
  }
  .register-button{
    width: 150px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .close-button {
    width: 150px;
    padding: 10px 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .register-button:hover,
  .close-button:hover {
    background-color: darkgray;
  }