* {
  border: solid black 1px;
}

.title {
  margin-top: 50px;
  /* h1 요소의 하단 마진을 조정합니다. */
}

.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  table-layout: auto;
  text-align: center;
  /* 셀 내용에 따라 크기가 조절됩니다. */
  th,
  td {
    border: 1px solid #dddddd;
    padding: 8px; // 여기에 세미콜론을 추가하세요.
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 150px;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 500px;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 100px;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 180px;
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 180px;
  }

  th:nth-child(6),
  td:nth-child(6) {
    width: 100px;
  }
}


button.editButton {
  height: 25px;
  width: 60px;
  background-color: #007bff; /* 배경색 설정 */
  color: white; /* 글자색 설정 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 버튼 모서리를 둥글게 설정 */
  cursor: pointer; /* 커서 모양을 포인터로 변경하여 클릭 가능함을 나타냄 */
  margin: 0 auto; /* 가로 중앙 정렬 */
  display: block; /* 블록 레벨 요소로 설정하여 가로로 확장되게 함 */
}


/* 수정 버튼 호버 효과 */
button.editButton:hover {
  background-color: #0056b3; /* 호버 시 배경색 변경 */
}









.modal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  width: 80%;
  /* 모달 너비 조정 */
  max-width: 500px;
  /* 모달 최대 너비 설정 */
  border-radius: 10px;
  overflow-y: auto;
}

.modal1 h1 {
  background-color: darkcyan;
  color: white;
  /* 제목 글자색 설정 */
  padding: 10px;
  /* 제목 내부 간격 설정 */
  border-radius: 10px;
  /* 제목 테두리 모양 설정 */
  text-align: center;
}

.modal1 .buttons {
  margin-top: 20px; /* 버튼 위 여백 설정 */
  margin-bottom: 20px; /* 버튼 아래 여백 설정 */
  text-align: center; /* 버튼을 가운데 정렬 */
}

.modal1 .buttons button {
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
}
.modal1 .buttons .submit-button {
  background-color: #007bff;
  color: white;
}

.modal1 .buttons .submit-button:hover {
  background-color: #007bff;
}

.modal1 .buttons .delete-button {
  background-color: #f44336;
  color: white;
}

.modal1 .buttons .delete-button:hover {
  background-color: #c62828;
}

.modal1 .buttons .cancel-button {
  background-color: #45a049;
  color: white;
}

.modal1 .buttons .cancel-button:hover {
  background-color: #45a049;
}

.modal1 label {
  font-size: 16px;
  /* 라벨 글자 크기 설정 */
  text-align: center;
  /* 라벨 가운데 정렬 */
}

.modal1 input,
.modal1 select {
  width: calc(60% - 20px);
  /* 입력 요소 너비 조정 */
  margin-bottom: 10px;
  /* 입력 요소 아래 간격 설정 */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 20px;
  /* 입력 요소 위 여백 설정 */
  margin-bottom: 20px;
  /* 입력 요소 아래 여백 설정 */
  margin-left: auto;
  /* 왼쪽 여백 자동으로 조정 */
  margin-right: auto;
  /* 오른쪽 여백 자동으로 조정 */
  display: block;
  /* 입력 요소를 블록 요소로 표시하여 가로로 확장 */
}

.buttons {
  display: flex;
  margin-top: 30px;
}

.form-group {
  display: flex;
  /* 요소를 가로로 나란히 배치 */
  align-items: center;
  /* 요소들을 수직 중앙 정렬 */
  margin-bottom: 10px;
  /* 각 요소 아래 간격 설정 */
}

.form-group label {
  font-size: 20px;
  margin-left: 40px;
}


.registerButton {
  display: block; /* 블록 요소로 설정하여 가로로 확장 */
  margin: 0 auto; /* 수평 가운데 정렬 */
  padding: 10px 20px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width: 150px; /* 원하는 너비로 설정 */
}


.registerButton:hover {
  background-color: black;
}