* {
  border: solid black 1px;
}
.title {
  margin-top: 50px;
  /* h1 요소의 하단 마진을 조정합니다. */
}

.schedules-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  table-layout: auto;
  /* 셀 내용에 따라 크기가 조절됩니다. */

  th,
  td {
    border: 1px solid #dddddd;
    padding: 8px; // 여기에 세미콜론을 추가하세요.
    text-align: center;
    width: 100px;
  }

  th {
    background-color: #f2f2f2;
  }
}














