@font-face {
    font-family: 'NPSfontBold';
    src: url('../../public/NPSfont_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'NPSfontBold', sans-serif;
}