<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wizian.cbb.user.dao.IUserRepository">
	<resultMap id="selectUser"
		type="com.wizian.cbb.user.model.UserVO">
		<result property="userNO" column="USER_NO" />
		<result property="userGroupCd" column="USER_GROUP_CD" />
		<result property="loginId" column="LOGIN_ID" />
		<result property="pswd" column="PSWD" />
		<result property="rcntLoginDt" column="RCNT_LOGIN_DT" />
		<result property="pswdChgDt" column="PSWD_CHG_DT" />
		<result property="pswdErrCnt" column="PSWD_ERR_CNT" />
		<result property="userCloseYn" column="USER_CLOSE_YN" />
	</resultMap>

	<select id="selectUser" parameterType="string"
		resultType="com.wizian.cbb.user.model.UserVO">
		SELECT
		USER_NO AS userNO,
		USER_GROUP_CD AS userGroupCd,
		LOGIN_ID AS loginId,
		PSWD AS pswd,
		RCNT_LOGIN_DT AS rcntLoginDt,
		PSWD_CHG_DT AS pswdChgDt,
		PSWD_ERR_CNT AS pswdErrCnt,
		USER_CLOSE_YN AS
		userCloseYn
		FROM USER_INFO
		WHERE LOGIN_ID = #{loginId}
	</select>

	<update id="updateRcntLoginDt"
		parameterType="com.wizian.cbb.user.model.UserVO">
		UPDATE USER_INFO
		SET RCNT_LOGIN_DT=SYSDATE
		WHERE
		LOGIN_ID=#{loginId}
	</update>

	<update id="updatePswdErrCnt"
		parameterType="com.wizian.cbb.user.model.UserVO">
		UPDATE USER_INFO
		SET PSWD_ERR_CNT=#{pswdErrCnt}
		WHERE
		LOGIN_ID=#{loginId}
	</update>

	<update id="updateUserCloseYn"
		parameterType="com.wizian.cbb.user.model.UserVO">
		UPDATE USER_INFO
		SET USER_CLOSE_YN=#{userCloseYn}
		WHERE
		LOGIN_ID=#{loginId}
	</update>

	<select id="getUserInfo" resultType="hashmap">
		SELECT
		${nameSql} AS "Nm",
		${telNoSql} AS "TelNo"
		FROM ${tableNm}
		WHERE
		USER_NO IN(
		SELECT USER_NO
		FROM USER_INFO
		WHERE
		LOGIN_ID=#{loginId}
		)
	</select>

	<update id="updatePswd"
		parameterType="com.wizian.cbb.user.model.UserVO">
		UPDATE USER_INFO
		SET PSWD=#{pswd}
		WHERE
		LOGIN_ID=#{loginId}
	</update>

	<update id="updatePswdChgDt"
		parameterType="com.wizian.cbb.user.model.UserVO">
		UPDATE USER_INFO
		SET PSWD_CHG_DT=SYSDATE
		WHERE
		LOGIN_ID=#{userId}
	</update>
</mapper>