<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.wizian.cbb.tng.bzenty.dao.ITngPerRepository">

	<resultMap id="selectTng"
		type="com.wizian.cbb.tng.bzenty.model.TngVO">
		<result property="tngNo" column="TNG_NO" />
		<result property="bzentyUserNo" column="BZENTY_USER_NO" />
		<result property="semester" column="SEMESTER" />
		<result property="tngNope" column="TNG_NOPE" />
		<result property="tngStYMD" column="TNG_ST_YMD" />
		<result property="tngEndYMD" column="TNG_END_YMD" />
		<result property="aplyStDt" column="APLY_ST_DT" />
		<result property="aplyEndDt" column="APLY_END_DT" />
		<result property="prgrsStts" column="PRGRS_STTS" />
		<result property="ttlTngHr" column="TTL_TNG_HR" />
		<result property="cmcrsHr" column="CMCRS_HR" />
		<result property="tkcgTaskNm" column="TKCG_TASK_NM" />
	</resultMap>

	<select id="selectTngStdntList" resultType="hashmap">
		SELECT
		s.STDNT_SN AS "stdntSn",
		s.STDNT_NM AS "stdntNm",
		s.STDNT_TELNO AS "stdntTelNo",
		s.STDNT_EML_ADDR AS "stdntEmlAddr",
		s.STDNT_BRDT AS "stdntBrdt",
		s.STDNT_ADDR AS "stdntAddr",
		s.STDNT_GRD AS "stdntGrd",
		sb.SCSBJT_NM AS "scsbjtNm",
		s.USER_NO AS "userNo",
		s.ACAVSR_NO AS "acavsrNo",
		cc.NM AS "nm"
		FROM STDNT s
		INNER JOIN TNG_STDNT t ON s.STDNT_SN = t.STDNT_SN
		INNER JOIN COM_CD cc ON t.TNG_PRGRS_STTS = cc.CD
		INNER JOIN SCSBJT sb ON s.SCSBJT_CD = sb.SCSBJT_CD
		WHERE t.TNG_NO = #{tngNo} AND cc.DIV = 2001
	</select>

	<select id="selectScsbjt" resultType="hashmap">
		SELECT
		SCSBJT_CD AS
		"scsbjtCd",
		SCSBJT_NM AS "scsbjtNm"
		FROM
		SCSBJT
	</select>

	<select id="stdntPrgrsStts" resultType="hashmap">
		SELECT
		CD AS "cd",
		NM AS
		"nm"
		FROM
		COM_CD
		WHERE DIV = '2001'
	</select>

	<update id="selecStdnt">
		UPDATE TNG_STDNT
		SET TNG_PRGRS_STTS = '20'
		WHERE TNG_NO
		= #{tngNo} AND STDNT_SN =#{stdntSn}
	</update>

	<update id="closeTngAply">
		UPDATE TNG
		SET PRGRS_STTS = '60'
		WHERE TNG_NO =
		#{tngNo}
	</update>

	<delete id="delTngAply">
		DELETE FROM TNG_STDNT
		WHERE STDNT_SN = #{stdntSn}
		AND
		TNG_NO &lt;&gt; #{tngNo}
	</delete>

	<select id="stdntCnt" resultType="int">
		SELECT COUNT(*)
		FROM TNG_STDNT
		WHERE TNG_PRGRS_STTS='20' AND TNG_NO=#{tngNo}
	</select>

	<select id="selectTng" resultMap="selectTng">
		Select *
		FROM TNG
		WHERE TNG_NO = #{tngNo}
	</select>
</mapper>